<div class="machotopbar">
        <div class="machoname">
          <a to="/">
            <h2>Matcho App: (गे) Gay Dating</h2>
          </a>
        </div>
        <div class="linkname">
          <a to="/"> Home</a>
          <a to="/about">About Us</a>
        </div>
</div>