<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="../public/styles/main.css">  -->

    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="/styles/aboutUs.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
   <div class="machoAbout-main">
        <div class="aboutname">
          <h1>About Us</h1>
        </div>
        <div class="aboutdetails">
          <h6>
            This App is a mental Well being App. We act as Platform as a Service
            for our users, our users can come to the platform & connect with
            whitelisted consultants / therapists and connect with them once they
            buy our monthly or weekly subscription. These consultants /
            therapists acts as our partners and they are not our in house
            consultants, we do not prescribe any medicines to any users, we are
            just a platform as a service for both the users and consultants. We
            do not have wallet services as we are a subscription based platform.
          </h6>
        </div>
        <div class="locationbox"></div>
      </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>