<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="../public/styles/main.css">  -->

    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="/styles/childSafetyPolicy.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Child Safety Policy</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="Refundpolicy">
        <div class="header">
          <h1>CHILD SAFETY POLICY EXPLAINER</h1>
          <p>Last updated: February, 28 2025</p>
          <hr />
          <h4>Child Sexualization</h4>
          <p>
            Content that sexualizes children has no place on Premika. We don't
            tolerate any kind of text or media — real or generated — on our
            platform that portrays children in a sexual manner. This type of
            content causes serious harm to victims.
          </p>
          <h4>
            You may not share the following types of content, such as:
            [sensitive language content warning]
          </h4>
          <p>
            <ul>
              <p>
                <li>
                  Portrayals of minors engaging in sex acts, or in sexually
                  explicit or suggestive poses
                </li>
              </p>
              <p>
                <li>
                  Sexual texts or audio about or desires for real or fictitious
                  minors
                </li>
              </p>
              <p>
                <li>
                  Links to websites containing material that sexualizes minors
                </li>
              </p>
              <p>
                <li>
                  Statements expressing intent to obtain materials of child
                  abuse or engage in child sexual abuse
                </li>
              </p>
              <p>
                <li>
                  Promotion, encouragement or normalization of pedophilia or
                  sexual attraction to children
                </li>
              </p>
            </ul>
          </p>
          <h4>Teen Self-Endangerment</h4>
          <p>
            We take the safety of our younger users seriously and don't allow
            children under the age of 12 to have a Premika account. We want our
            teen users to be able to express themselves freely on Premika while
            also taking steps to ensure these users don’t engage in risky
            behaviors that might endanger their safety and wellbeing.
          </p>
          <p>
            While we understand that teens may want to help each other stay safe
            online, we cannot allow users or communities to put themselves in
            potential harm’s way. This means that we will take action against
            users that we reasonably believe are trying to “bait” or entrap
            others into inappropriate interactions with teenage users.
          </p>
          <p>
            We want teens to be safe on Premika, but we also don’t want to
            penalize them for expressing themselves or exploring their
            identities. We expect that some users might violate this policy
            without realizing it, so we provide warnings to teen users where
            possible. However, for their own safety, we permanently remove a
            user’s account from the platform if we see consistent violations of
            this policy or if the user appears to be in immediate risk of harm.
          </p>
          <h4>
            If you are under the age of 18, you may not engage in the following
            types of behavior, such as: [sensitive language content warning]
          </h4>
          <p>
            <ul>
              <p>
                <li>
                  Send sexually explicit text or audio to another user or
                  consultant.
                </li>
              </p>
              <p>
                <li>
                  Send your own sexually explicit content (“nudes”) to another
                  user — even if they’re also under 18
                </li>
              </p>
              <p>
                <li>Ask for others to send you sexually explicit content</li>
              </p>
              <p>
                <li>
                  Deliberately try to “bait,” trick, or entrap an adult user
                  into sending sexual content to yourself or another underage
                  user
                </li>
              </p>
            </ul>
          </p>
          <h4>How to Avoid Violating These Policies</h4>
          <p>
            <ul>
              <p>
                <li>
                  Do not send messages, audio about sexualizing, grooming, or
                  abusing children — even as a joke
                </li>
              </p>
              <p>
                <li>
                  Do not send or ask for sexual content from anyone under the
                  age of 18 — even if you are also under 18
                </li>
              </p>
              <p>
                <li>
                  If you are not sure whether a piece of content might violate
                  these policies, don’t share it
                </li>
              </p>
            </ul>
          </p>
          <h5> How to Report Violations of These Policies</h5>
          <p>
            Reporting safety violations is critically important to keeping you
            and the broader Premika community safe. All Premika users can report
            policy violations right <Link to="/about"> here.</Link>
          </p>
          <h5>Resources</h5>
          <p>
            Our app is a platform that connects users for networking, social
            interactions, or other purposes. We do not conduct background checks
            on users, and we are not responsible for any actions, behavior, or
            misconduct of users outside the platform. Any communication,
            meeting, or interaction beyond our app—whether in person, online, or
            on another platform—is at your own risk. By using our app, you
            acknowledge that we are not liable for any harm, abuse, or criminal
            activity that may occur as a result of such interactions. If you
            experience any issues, we encourage you to report them to the
            appropriate authorities.
          </p>
          <b>
            <p>
              However, if your sensitive photos have been shared or published
              online, the following resources can help:
            </p>
          </b>
          <p>
            <ul>
              <p>
                <li>
                  
                  <a href="https://takeitdown.ncmec.org/">
                    Take It Down (NCMEC)
                  </a>
                  is a service that you can use to help remove online nude,
                  partially nude, or sexually explicit photos and videos taken
                  before you were 18
                </li>
              </p>
            </ul>
          </p>
          <b>
            <p>
              If you or someone else is in danger we encourage you to consider
              contacting law enforcement right away and letting them know what's
              going on, regardless of the information you're able to provide.
            </p>
          </b>

          <b>
            <p>
              If you or a friend needs mental health support, we encourage you
              to use the following resources:
            </p>
          </b>
          <p>
            <ul>
              <p>
                <li>
                  A list of worldwide crisis hotlines can be found
                  <Link to="/about"> here.</Link>
                </li>
              </p>
            </ul>
          </p>
          <p>
            Although we're not affiliated with staff at any of these hotlines,
            they're trained to help and guide callers with ways to address
            things that are bothering them.
          </p>
          <h4>Contact Us</h4>
          <p>If you have any query or looking for help, please contact us:</p>
          <br />
          <br />
          <p>
            
            Contact Details: <br />
            Email: support@alnicotech.com <br />
            Address: 7th Floor, S-11, UNIT NO. 1171, 1172, INNOV 8 SOLITAIRE CORPORATE PARK, SOLITAIRE CORPORATE PARK, Andheri East, Mumbai, 
            &Tab;Mumbai Suburban, Maharashtra 400093, INDIA , <br />
            Wagle l.e Thane, <br />
            Maharashtra 400604 <br />
            India
          </p>
        </div>
      </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>