<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="../public/styles/main.css">  -->

    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="/styles/home.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="home-main">
        <div class="home-top">
          <div class="top-font">
            <h1>Nurturing Bharat with Collaborative Consultation</h1>
            <p>
              Matcho is not just an consultant app. Instantly connect with
              consultants and have high-quality conversations that feel as
              natural as meeting in person.
            </p>
          </div>
          <div class="top-img">
            <div class="subbox-img">
              <img
                src="https://thebaatein.com/images/3286556.jpg"
                alt="Matcho"
              />
            </div>
          </div>
        </div>
        <div class="home-details">
          <div class="details-data">
            <h1>
              <LanguageIcon
                style=" color: #ff6666; font-size: 2.5rem; padding-bottom: 9px,"
              />
              More Than 10+ Indian Languages
            </h1>
            <p>
              Therapy in your native language - connect with conversational
              therapy experts who understand your culture
            </p>
            <div class="line"></div>
          </div>
          <div class="language-details">
            <div class="button-boxs">
              <div class="name-box">
                <h3>अ</h3>
              </div>
              <div class="language-name">
                <span>English</span>अंग्रेज़ी
              </div>
            </div>
            <div class="button-boxs">
              <div class="name-box">
                <h3>ह</h3>
              </div>
              <div class="language-name">
                <span>Hindi</span>हिंदी
              </div>
            </div>
            <div class="button-boxs">
              <div class="name-box">
                <h3>ব</h3>
              </div>
              <div class="language-name">
                <span>Bangla</span>বাংলা
              </div>
            </div>
            <div class="button-boxs">
              <div class="name-box">
                <h3>म</h3>
              </div>
              <div class="language-name">
                <span>Marathi</span>मराठी
              </div>
            </div>
            <div class="button-boxs">
              <div class="name-box">
                <h3>ଓ</h3>
              </div>
              <div class="language-name">
                <span>Odia</span>ଓଡ଼ିଆ
              </div>
            </div>
            <div class="button-boxs">
              <div class="name-box">
                <h3>മ</h3>
              </div>
              <div class="language-name">
                <span>Malayalam</span>മലയാളം
              </div>
            </div>
            <div class="button-boxs">
              <div class="name-box">
                <h3>த</h3>
              </div>
              <div class="language-name">
                <span>Tamil</span>தமிழ்
              </div>
            </div>
            <div class="button-boxs">
              <div class="name-box">
                <h3>త</h3>
              </div>
              <div class="language-name">
                <span>Telugu</span>తెలుగు
              </div>
            </div>
            <div class="button-boxs">
              <div class="name-box">
                <h3>ਪੰ</h3>
              </div>
              <div class="language-name">
                <span>Punjabi</span>ਪੰਜਾਬੀ
              </div>
            </div>
            <div class="button-boxs">
              <div class="name-box">
                <h3>ಕ</h3>
              </div>
              <div class="language-name">
                <span>Kannada</span>ಕನ್ನಡ
              </div>
            </div>
            <div class="button-boxs">
              <div class="name-box">
                <h3>ગ</h3>
              </div>
              <div class="language-name">
                <span>Gujarati</span>ગુજરાતી
              </div>
            </div>
          </div>
        </div>
        <div class="home-boxs">
          <div class="home-box1">
            <div class="box-font">
              <h1>Instant Connection</h1>
              <h2>
                87% of users say Matcho helped them feel less isolated during
                difficult times.
              </h2>
            </div>
            <div class="box-image">
              <div class="box-img">
                <img
                  src="https://thebaatein.com/images/20943705.jpg"
                  alt="Instant Connection"
                />
              </div>
            </div>
          </div>
          <div class="home-box2">
            <div class="box-font">
              <h1>Meaningful Talk</h1>
              <h2>
                75% of our users report forming meaningful connections within
                their first week on the app.
              </h2>
            </div>
            <div class="box-image">
              <div class="box-img">
                <img
                  src="https://thebaatein.com/images/5101970.jpg"
                  alt="Meaningful Talk"
                />
              </div>
            </div>
          </div>
          <div class="home-box3">
            <div class="box-font">
              <h1>Caring Community</h1>
              <h2>
                92% of users feel more connected and supported since joining
                Matcho.
              </h2>
            </div>
            <div class="box-image">
              <div class="box-img">
                <img
                  src="https://thebaatein.com/images/6431139.jpg"
                  alt="Caring Community"
                />
              </div>
            </div>
          </div>
          <div class="home-box4">
            <div class="box-font">
              <h1>100% Anonymous call</h1>
              <h2>
                Your personal identity is never shared with others. All your
                calls are completely anonymous.
              </h2>
            </div>
            <div class="box-image">
              <div class="box-img">
                <img
                  src="https://thebaatein.com/images/6134179.jpg"
                  alt="Anonymous Call"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>