<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="../public/styles/main.css">  -->

    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="/styles/privacypolicy.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Privacy Policy</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="PrivacyPolicy-main">
        <div class="header-main">
          <h1>Privacy Policy</h1>
          <p>Last updated: November 25, 2024</p>
          <hr />
          <p>
            We, Alnico Tech Private Limited ("Matcho") recognise that your
            privacy is very important and take it seriously. This privacy policy
            (“Privacy Policy”) sets out how we collect, use and disclose your
            data when you use Matcho mobile application, (“App”) and the
            website, ‘https://machomens.com/’ (“Website”). The Website and the
            App are collectively referred to as the “Platforms” and individually
            as “Platform” as the context may require. References to “we”, “our”
            or “us” or the “Company” shall mean the Platforms and/or Matcho.
            Any references to “you”, “your” or “user” shall mean any person or
            entity using our Platforms. We will not use or share your
            information with anyone except as described in this Privacy Policy.
          </p>
          <p>
            By using the Platforms, you agree to the terms and conditions of
            this Privacy Policy. You also consent to our use and disclosure of
            your Personal Information (as defined below) in the manner described
            in this Privacy Policy.
          </p>
          <div class="table-policy">
            <h6>1. THE INFORMATION WE COLLECT AND HOW WE USE IT</h6>
            <p>
              The following table lists the information we collect from you and
              how we use it:
            </p>

            <table border="1" class="privacy-table">
              <tr>
                <th>Information we collect</th>
                <th>How we use it</th>
              </tr>
              <tr>
                <td>
                  Log-in Data. Name, mobile phone number, gender, and IP
                  address. We may collect an indicative age range which tells us
                  that you are of the appropriate age to access our Platforms
                  and certain features of our Platforms (collectively, “Log-in
                  Data”).
                </td>
                <td>
                  <ul>
                    <li>
                      To set up and facilitate log-in to a user account on
                      Platforms (as applicable);
                    </li>
                    <li>
                      To notify you about changes to the Platforms, including
                      this Privacy Policy;
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  Additional Profile Information. Alongside the Log-in Data, we
                  also collect your voice recording, username, birth year, place
                  of birth, time of birth, contents of the communications made
                  with other users by using the Platform and the biography
                  provided by you on your user profile.
                </td>
                <td>
                  <ul>
                    <li>
                      To facilitate communication, including provision of user
                      support;
                    </li>

                    <li>
                      To enforce our terms, conditions, and policies and any of
                      our rights, or the rights of our affiliate companies, or
                      other users of the Platforms;
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  Content You Share. This comprises all the information you make
                  available to other users via Platforms (as applicable),
                  comprising such as:
                  <ul>
                    <li>
                      Information about you or relating to you that is
                      voluntarily shared by you on the Platforms (as
                      applicable).including without limitation, any quotes,
                      images, political opinions, religious views, marital
                      status, sexual orientation, gender etc.
                    </li>

                    <li>
                      Any posts that you make on the Platforms (as applicable)
                      (including your public profile, and photos, videos and
                      voice recordings and photos through your device’s camera
                      and/or microphone sensor), any postings from others that
                      you re-post and Location Data and Log Data associated with
                      such postings. This also includes information about you
                      (including Location Data and Log Data) that other users of
                      the Platforms share about you or any communications they
                      make to you.
                    </li>
                    <li>
                      To develop new services and improve the existing services
                      and the Platforms and integrate user feedback and
                      requests;
                    </li>
                  </ul>
                  Information we receive from other sources. We may also be
                  working closely with third parties (including, for example,
                  business partners, sub contractors in technical services,
                  analytics providers, search information providers) and may
                  receive information about you from such sources. Such data may
                  be shared internally and combined with data collected on the
                  Platforms (as applicable). <br />
                </td>
                <td>
                  <ul>
                    <li>
                      To provide language and location-based personalization;
                    </li>
                    <li>
                      To administer the Platforms and for internal operations,
                      including troubleshooting, data analysis, testing,
                      research, security, fraud detection, account management,
                      and survey purposes;
                    </li>
                    <li>
                      To better understand how you use and access the Platforms
                      and to improve the user experience on the Platforms;
                    </li>
                    <li>To verify your gender;</li>
                    <li>
                      To pseudonymise and aggregate your information, including
                      Personal Information, for conducting user demographic
                      analysis on items such as region, phone model, operating
                      system platform, system language, and the Platforms
                      version in order to better understand how our users are
                      using Platforms;
                    </li>
                    <li>
                      To assess effectiveness of and improve advertising and
                      other marketing and promotional activities.
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  Log Data. “Log Data” is information that we automatically
                  collect when you use the Platforms, whether through the use of
                  cookies, web beacons, log files, scripts, including, but not
                  limited to:
                  <ul>
                    <li>
                      technical information, such as your mobile carrier-related
                      information, configuration information made available by
                      your web browser or other programs you use to access the
                      Platforms, your IP address and your device’s version and
                      identification number;
                    </li>
                    <li>
                      information about what you have searched for and looked at
                      while using the Platforms, such as web search terms used,
                      mini applications used, and details of other information
                      and content accessed or requested by you while using the
                      Platforms (as applicable);
                    </li>
                    <li>
                      general information about communications on the Platforms
                      (as applicable), such as the identity of a user that you
                      have communicated with and the time, data and duration of
                      your communications; and
                    </li>
                    <li>
                      metadata, which means information related to items you
                      have made available through the Platforms, such as the
                      date, time or location that a shared photograph or video
                      was taken or posted.
                    </li>
                  </ul>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                  Cookies. Our Platforms uses cookies to distinguish you from
                  other users of our Platforms. We collect the cookie data from
                  the cookies on your device. For detailed information on the
                  cookies we use and the purposes for which we use them see our
                  cookie policy.
                </td>
              </tr>
              <tr>
                <td>
                  Surveys. If you choose to participate in a survey, we may
                  request you to provide certain Personal Information i.e., any
                  information that could be used to identify you (“Personal
                  Information”). We may use a third-party service provider to
                  conduct these surveys and this will be notified to you prior
                  to you completing the survey.
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                  User Search Data. Any searches you make on the Platforms (as
                  applicable).
                </td>
                <td>
                  To provide you quick access to your previous searches. To use
                  analytics for personalization and showing you targeted
                  advertisement.
                </td>
              </tr>
              <tr>
                <td>
                  Additional Account Security. We collect your phone number and
                  request access to the SMS on your phone by sending you a
                  One-Time Password (“OTP”), which you confirm by entering the
                  OTP to confirm your identity, while registering with our
                  Platforms.
                </td>
                <td>
                  To verify your identity and for maintaining your account
                  security.
                </td>
              </tr>
              <tr>
                <td>
                  Location Information. “Location Data” is information that is
                  derived from your GPS, IP address, and/or public posts that
                  contain location information. You will disclose certain
                  location information to us and to other Platforms users:
                </td>
                <td>
                  For security, fraud-detection and account management (such as
                  to ensure that there are no multiple log-ins or suspicious
                  log-ins on your account);
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>
                      when you use certain location-based features on the
                      Platforms, or mini applications that we may introduce on
                      our Platforms (as applicable) from time to time, and when
                      you share your location with other Platforms users; and
                    </li>
                    <li>
                      when you access the Platforms, as we derive location
                      information from your IP address, device, or internet
                      service to prevent multiple or fraudulent log-ins to your
                      account.
                    </li>
                  </ul>
                </td>
                <td>
                  To provide you with location-based services that you choose to
                  use:
                  <ul>
                    <li>
                      mini applications that may be made available on the
                      Platforms from time to time, which may require such
                      information based on the services that they provide (if
                      you choose to disclose your location to any mini
                      application);
                    </li>
                    <li>to provide language and location customisation.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  Customer Support Information. Any information that you provide
                  to our customer support team regarding any assistance or
                  support that you may require for using our Platforms from time
                  to time.
                </td>
                <td>To investigate your support issue.</td>
              </tr>
              <tr>
                <td>
                  Device Data. “Device Data” includes without limitation, the
                  following:
                  <ul>
                    <li>
                      Device attributes: information such as the operating
                      system, hardware and software versions, signal strength,
                      app and file names and types, and plugins.
                    </li>
                    <li>
                      Device operations: information about operations and
                      behaviours performed on the device, such as whether a
                      window is foregrounded or backgrounded.
                    </li>
                    <li>
                      Identifiers: unique identifiers, device IDs, and other
                      identifiers, such as from games, apps or accounts you use
                    </li>
                    <li>
                      Device signals: We may collect your Bluetooth signals, and
                      information about nearby Wi-Fi access points, beacons, and
                      cell towers.
                    </li>
                    <li>
                      Data from device settings: information you allow us to
                      receive through device settings you turn on, such as
                      access to your GPS location, camera or photos.
                    </li>
                    <li>
                      Network and connections: information such as the name of
                      your mobile operator or ISP, language, time zone, mobile
                      phone number, IP address and connection speed.
                    </li>
                    <li>
                      Application: Any mobile applications that are stored on
                      your mobile device.
                    </li>
                    <li>
                      Media: We access the media gallery on your mobile device,
                      including without limitation, images, videos and audio
                      files. However, we shall always obtain your consent before
                      accessing your images and you shall have the option to
                      deny us such access.
                    </li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>
                      To facilitate the sharing of any media such as audios,
                      videos, and images using the Platforms (as applicable);
                    </li>
                    <li>
                      To customize our Platformsto suit your mobile device;
                    </li>
                    <li>
                      To understand whether there is enough storage space on
                      your device to be able to download any content from the
                      Platforms for the purposes of sharing via WhatsApp and/or
                      Facebook;
                    </li>
                    <li>To optimize your user experience on our Platforms;</li>
                    <li>
                      To facilitate the sharing of any content on the Platforms
                      via the applications downloaded on your mobile device;
                    </li>
                    <li>
                      To verify your identity so as to enforce our terms,
                      conditions, and policies;
                    </li>
                    <li>To improve the Platforms.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  We also process and analyse your chats with other users as
                  well as the content you publish, as part of the operation of
                  the services, users you connect and interact with, time and
                  date of your exchanges, number of messages you send and
                  receive.
                </td>
                <td>
                  <ul>
                    <li>To improve your chat suggestion;</li>
                    <li>o improve your future recommendations.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  Contest Information. Any information that you provide to us in
                  submitting an entry to any contest which may be offered on the
                  Platforms from time to time.
                </td>
                <td>
                  <ul>
                    <li>To facilitate your participation in the contest;</li>
                    <li>To award prizes, if applicable.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  When you make a purchase directly from us (rather than through
                  platformssuch as Android), you provide us or our payment
                  service provider with information, such as your debit or
                  credit card number or other financial information
                </td>
                <td>To process the financial transaction and record sale.</td>
              </tr>
            </table>
          </div>
          <p>
            <h6>
              {" "}
              2. DISCLOSURE OF YOUR INFORMATION – We disclose your information
              in the following manner: 2.1. Content Visible to others{" "}
            </h6>
            <div class="page-box">
              <p>
                2.1.1. Public content i.e., any content you post on your user
                profile or on another user’s profile, such as a post comment, is
                accessible to everyone, including search engines. Any
                information you voluntarily disclose for posting to the
                Platforms, including your profile page information, is
                accessible to anyone. When you submit, post or share the content
                that you choose to make public, on the Platforms, it may be
                re-shared by others. You should consider who you choose to share
                it with, because people who can see your activity on our
                Platforms can choose to share it with others on and off our
                Platforms, including people outside the audience you shared it
                with. For example, when you share a post or send a message to
                specific users of our Platforms or accounts, they can download
                or re-share that content with other users across or off our
                Platforms. Also, when you comment on someone else’s post or like
                their content, your comment or like is visible to anyone who can
                see the other person’s content.
              </p>
              <p>
                2.1.2. Users can also use our Platforms to create and share
                content about you with the audience that they choose, such as
                posting a photo of you, or tagging you in any of their posts. We
                reserve the right to share all public content on any social
                media site or any other online or offline Platforms. We will
                never rent or sell your Personal Information t o third parties,
                except on an anonymized basis, unless expressly provided in
                these terms.
              </p>
              <p>2.2. Sharing with our group entities</p>
              <p>
                We may share your Personal Information with any member of our
                Group. The term “Group” shall mean any entity that is controlled
                by us, or any entity that is in control of us, or any entity
                that is under common control with us, whether directly or
                indirectly.
              </p>
              <p>2.3. What you Share with others</p>
              <p>
                When you share content and communicate using our Platforms, you
                choose the audience for what you share. For example, when you
                post any content from our Platforms on Facebook, you select the
                audience for the post, such as a friend, a group of friends or
                all your friends. Similarly, when you use WhatsApp or any other
                application on your mobile device to share the content on our
                Platforms, you choose who you share the content with. We do not
                control and hence shall not be liable for the manner in which
                such persons (with whom you choose to share content via any
                sharing options, such as WhatsApp or Facebook, available on the
                Platforms) use the information that you share with them.
              </p>
              <p>2.4. Sharing with Third Parties</p>
              <p>
                2.4.1. We may share your information (including Personal
                Information) with select third parties including:
              </p>
              <p>
                (a) Business partners, suppliers and subcontractors
                (“Affiliates”). Affiliates may use this information to help
                provide, understand, and improve the Service and Affiliates’ own
                services for the performance of any contract we enter into with
                you.
              </p>
              <p>
                (b) Advertisers and advertising networks that require the data
                to select and serve relevant adverts to you and others. We do
                not disclose information about identifiable individuals to our
                advertisers, but we may provide them with aggregate information
                about our users (for example, we may inform them that any given
                number of women in a specified age group clicked on their
                advertisement on any given day). We may also use such aggregate
                information to help advertisers reach the kind of audience they
                want to target.
              </p>
              <p>
                (c) We use third parties to help us operate and improve our
                services. These third parties assist us with various tasks,
                including data hosting and maintenance, analytics, customer
                care, marketing, advertising, payment processing and security
                operations.
              </p>
              <p>
                (d) Government bodies or law enforcement agencies, if we in
                good-faith believe that, it is reasonably necessary to share
                your personal data or information in order to comply with any
                legal obligation or any government request; or to protect the
                rights or prevent any harm to the property, or safety of the
                Company, our customers, or public; or to detect, prevent or
                otherwise address public safety, fraud, security or technical
                issues.
              </p>
              <p>
                2.4.2. We may also disclose your information (including Personal
                Information) to select third parties if the Company or
                substantially all of its assets are acquired by a third party,
                in which case personal data held by it about its customers/users
                will be one of the transferred assets. If we are involved in a
                merger, acquisition, bankruptcy, reorganization or sale of
                assets such that your information would be transferred or become
                subject to a different Privacy Policy, we will notify you in
                advance so you can opt out of any such new policy by deleting
                your account before transfer.
              </p>
            </div>
            <h6> 3.THIRD PARTY STORES; PREMIUM SERVICES; IN-APP PURCHASES</h6>
            <div class="page-box">
              <p>
                3.1. We may make certain products and/or services available to
                users of the App in consideration of a subscription fee or other
                fees (“Premium Services”), including the ability to purchase
                products, services and enhancements, such as virtual goods like
                wallpaper, frames for your display picture, stickers packages,
                more chances to participate (“In-App Products”). If you choose
                to use Premium Services and/or purchase In-App Products, you
                acknowledge and agree that additional terms may apply to your
                use of, access to and purchase of such Premium Services and/or
                In-App Products, and such additional terms are incorporated
                herein by reference. You may purchase Premium Services and/or
                In-App Products through the following payment methods (each, a
                “Premium Payment Method”): (a) making a purchase through the
                Google Play or other mobile or web application platforms or
                storefronts authorised by us (each, a “Third Party Store”), (b)
                paying with your credit card or debit card, which will be
                processed by a third-party processor. Once you have requested a
                Premium Service or In-App Product, you authorise us to charge
                your chosen Premium Payment Method and your payment is
                non-refundable. If payment is not received by us from your
                chosen Premium Payment Method, you agree to promptly pay all
                amounts due upon demand by us. If you want to cancel or change
                your Premium Payment Method at any time, you can do so either
                via the payment settings option under your profile or by
                contacting your mobile service provider. In the event of a
                conflict between a Third-Party Store’s terms and conditions and
                these terms, the terms and conditions of the Third-Party Store
                or service provider shall govern and control. We are not
                responsible and have no liability whatsoever for goods or
                services you obtain through the Third-Party Store, our
                third-party service providers or other web sites or web pages.
                We encourage you to make whatever investigation you feel
                necessary or appropriate before proceeding with any online
                transaction with any of these third parties.
              </p>
              <p>
                3.2. If you choose to purchase an In-App Product, you will be
                prompted to enter details for your account with the Third-Party
                Store you are using (e.g., Android, etc.) (“Mobile Platform
                Account”), and your Mobile Platform Account will be charged for
                the Premium Service and/or In-App Product in accordance with the
                terms disclosed to you at the time of purchase, as well as the
                general terms applicable to all other in-app purchases made
                through your Mobile Platform Account (e.g., Android etc.). The
                pricing may vary due to a number of factors, such as (but not
                limited to) promotional offers, loyalty bonuses and other
                discounts that might apply to your age group.
              </p>
              <p>
                3.3. In all cases, we are not responsible and have no liability
                whatsoever for any payment processing errors (including card
                processing, identity verification, analysis and regulatory
                compliance) or fees or other service-related issues, including
                those issues that may arise from inaccurate account information,
                or products or goods you obtain through your Mobile Platform
                Account or Third-Party Stores. Further, we do not guarantee that
                product descriptions or other content and products will be
                available, accurate, complete, reliable, current or error-free.
                Descriptions and images of, and references to, products or
                services (including Premium Services or In-App Products) do not
                imply our or any of our affiliates’ endorsement of such products
                or services. Moreover, we and our third-party operational
                service providers reserve the right, with or without prior
                notice, for any or no reason, to change product descriptions,
                images, and references; to limit the available quantity of any
                product; to honour, or impose conditions on the honouring of,
                any coupon, coupon code, promotional code or other similar
                promotions; to bar any user from conducting any or all
                transaction(s); and/or to refuse to provide any user with any
                product. Further, if we terminate your use of or registration to
                the App because you have breached these terms, you shall not be
                entitled to a refund of any unused portion of any fees, payments
                or other consideration. We encourage you to review the terms and
                conditions of the applicable third-party payment processors,
                Third-Party Store and/or your Mobile Platform Account before you
                make any In-App Products or Premium Service purchases.
              </p>
            </div>

            <h6>4.SECURITY POLICIES </h6>
            <div class="page-box">
              <p>
                We have in place appropriate technical and security measures to
                secure the information collected by us. Where we have given you
                (or where you have chosen) a username and password which enables
                you to access the Platforms, you are responsible for keeping
                these details confidential. We ask you not to share your
                password with anyone.
              </p>
            </div>

            <h6>5.WHERE WE STORE YOUR PERSONAL INFORMATION </h6>
            <div class="page-box">
              <p>
                We store your data with Amazon Web Services cloud platform
                provided by Amazon Web Services, Inc. (headquartered at 410
                Terry Ave. N Seattle, Washington 98109, USA) and also on Google
                Cloud Platform provided by Google LLC (headquartered at 1101 S
                Flower St, Burbank, California 91502, USA) on their servers
                located in India .Both Amazon Web Services and Google Cloud
                Platform implement security measures to protect the loss, misuse
                and alteration of the information, details of which are
                available at https://aws.amazon.com/ and
                https://cloud.google.com. The privacy policies adopted by Amazon
                Web Services and Google Cloud Platform are available at
                https://aws.amazon.com/privacy/?nc1=f_pr and
                https://policies.google.com/privacy.
              </p>
            </div>
            <h6>6.CHANGES TO THIS POLICY</h6>
            <div class="page-box">
              <p>
                The Company may periodically update this Privacy Policy.
                Whenever we make any changes to this Privacy Policy that are
                important for you to know about, we will post the updated
                Privacy Policy at this link. It is your responsibility to keep
                checking this page from time to time in order to be aware of any
                changes made to this Privacy Policy.
              </p>
            </div>

            <h6>7.DISCLAIMER </h6>
            <div class="page-box">
              <p>
                Unfortunately, the transmission of information via the internet
                is not completely secure. Although we will do our best to
                protect your Personal Information, we cannot guarantee the
                security of your data transmitted to the Platforms; any
                transmission is at your own risk. Once we have received your
                information, we will use strict procedures and security features
                to try to prevent unauthorized access.
              </p>
            </div>
            <h6>8.YOUR RIGHTS </h6>
            <div class="page-box">
              <p>
                8.1. You are free to remove or delete content from your user
                account/profile and your account/ profile at any point in time.
                However, the history of your activities and account on our
                Platforms remains available to us.
              </p>
              <p>
                8.2. You may correct, amend, add or delete Personal Information
                from your account at any time by logging in and visiting your
                profile page. You may receive notifications and emails from us
                on the contact address/es or mobile number registered with us.
                As noted above, you may opt out from unwanted e mail
                communications from us by following the instructions in the
                message. However, until your account is deleted you will
                continue to receive all system e-mails such as non-marketing
                communications (including but not limited to security alerts,
                administrative messages and information about changes to our
                Privacy Policy).
              </p>
              <p>
                8.3. We reserve the right to verify your identity in connection
                with any requests regarding Personal Information to help ensure
                that we provide the information we maintain to the individuals
                to whom it pertains and allow only those individuals or their
                authorized representatives to exercise rights with respect to
                that information. If you are an authorized agent making a
                request on behalf of a user, we may require and request
                additional information to verify that you are authorized to make
                that request.
              </p>
              <p>
                8.4. We reserve the right to deny your request if we cannot
                verify your identity. Where we deny your request in whole or in
                part, we will endeavour to inform you of the denial and provide
                an explanation of our actions and the reasons for the denial.
              </p>
              <p>
                8.5. Under Rule 5(6) of the Information Technology (Reasonable
                Security Practices and Procedures and Sensitive Personal Data or
                Information) Rules, 2011 (“Rules”), you have a right to ask us
                to review, correct and amend the information we collect about
                you at any point in time. Under Rule 5(7) of the Rules, you also
                have the right to revoke your consent to the collection of your
                information going forward. However, please note that revoking
                your consent may negatively affect your use of the Platforms.
                For i nstance, we need access to your mobile device’s media
                folder and camera so that you can click pictures from your
                mobile device and post them on the Platforms, which
                functionality will not be available to you if you do not provide
                us such access. You may also ask us not to process your personal
                data for marketing purposes. You can exercise any of these
                rights at any time by contacting us at support@machomens.com.
                However, we require a reasonable period of 30 (thirty) days to
                comply with any of your requests.
              </p>
            </div>
            <h6>9.DATA RETENTION</h6>
            <div class="page-box">
              <p>
                We do not retain your Sensitive Personal Information (defined
                below in this paragraph) for longer than is reasonably required
                for the purposes for which the information may be lawfully used
                or as required by applicable law or regulatory requirements for
                the time being in force. We may also retain your Sensitive
                Personal Information so long as it is necessary to fulfil the
                purposes for which it was collected (including for purposes of
                meeting any legal, administrative, accounting, or other
                reporting requirements). For any other content, we will
                entertain your request for deletion, however, there is a strong
                possibility that copies of any public content will be retained
                indefinitely in our systems, including in cached and archived
                pages of the Platforms, or if other users have copied or saved
                that information. In addition, due to the nature of the
                internet, copies of your c ontent, including content that you
                have removed or deleted from your account, may also exist
                elsewhere on the internet and be retained indefinitely.
                “Sensitive Personal Information” shall mean passwords and any
                other information that is classified as Sensitive Personal data
                or Information under Rule 3 of the Rules.
              </p>
            </div>
            <h6>10.THIRD PARTY LINKS</h6>
            <div class="page-box">
              <p>
                The Platforms may, from time to time, contain links to and from
                the websites of our partner networks, advertisers, Affiliates
                and/or any other websites or mobile applications. If you follow
                a link to any of these websites, please note that these websites
                have their own privacy policies and that we do not accept any
                responsibility or liability for these policies. Please check
                these policies before you submit any personal data to these
                websites or mobile applications.
              </p>
            </div>
            <h6>11.THIRD-PARTY EMBEDS</h6>
            <div class="page-box">
              <p>11.1. What Are Third Party Embeds</p>
              <p>
                Some of the content that you see displayed on the Platforms is
                not hosted by the Platforms. These “embeds” are hosted by a
                third-party and embedded in the Platforms. For example: YouTube
                or Vimeo videos, Imgur or Giphy gifs, SoundCloud audio files,
                Twitter tweets, or Scribd documents that appear within a post on
                the Platforms. These files send data to the hosted site just as
                if you were visiting that site directly (for example, when you
                load a Platforms post page with a YouTube video embedded in it,
                YouTube receives data about your activity).
              </p>
              <p>11.2. Privacy Concerns with Third Party Embeds</p>
              <p>
                The Platforms do not control what data third parties collect or
                what they will do with it. So, third party embeds on the
                Platforms are not covered by this Privacy Policy. They are
                covered by the privacy policy of the third-party service
              </p>
              <p>11.3. Sharing Personal Information with Third Party Embeds</p>
              <p>
                Some embeds may ask you for Personal Information, such as your
                email address, through a form. We do our best to keep bad actors
                off the Platforms. However, if you choose to submit your
                information to a third party this way, we do not know what they
                may do with it and assume no responsibly or liability in this
                regard. As explained above, their actions are not covered by
                this Privacy Policy. So, please be careful when you see embedded
                forms on the Platforms asking for your email address or any
                other Personal Information. Make sure you understand who you are
                submitting your information to and what they say they plan to do
                with it. We suggest that you do not submit Personal Information
                to any third-party through an embedded form.
              </p>
              <p>11.4. Creating Your Own Third Party Embed</p>
              <p>
                If you embed a form that allows submission of Personal
                Information by users, you must provide near the embedded form a
                prominent link to an applicable Privacy Policy that clearly
                states how you intend to use any information collected. Failure
                to do so may lead the Company to disable the post or take other
                action to limit or disable your account.
              </p>
            </div>
            <h6>12.PLATFORMS ARE NOT FOR MINORS</h6>
            <div class="page-box">
              <p>
                The Platforms should only be used or accessed by persons who are
                competent to enter into a legally binding contract under the
                Indian Contract, 1872. If you are a minor (i.e., you are under
                the age of 18 years), you may use the Platforms only with the
                involvement of your parent or guardian. We do not knowingly
                collect or use any information from minors. We do not knowingly
                allow minors to communicate with us or use any of the services
                on the Platforms. If you are a parent and become aware that your
                child has provided us with information, please contact us on the
                website or by e mailing us at support@machomens.com.
              </p>
            </div>
            <h6>13.COMMUNICATIONS FROM US</h6>
            <div class="page-box">
              <p>
                We may from time to time send you service-related announcements
                when we consider it necessary to do so (such as when we
                temporarily suspend the Platforms for maintenance, security,
                privacy, or administrative-related communications). We send
                these to you via SMS. You may not opt-out of these
                service-related announcements, which are not promotional in
                nature and used solely to protect your account and keep you
                informed of important changes to the Platforms.
              </p>
            </div>
            <h6>14.COOKIE POLICY</h6>
            <div class="page-box">
              <p>
                The capitalized terms used in this Cookie Policy, but not
                defined herein, shall have the meaning given to such terms in
                these terms.
              </p>

              <p>14.1. What are cookies, pixels, and local storage?</p>

              <p>
                14.1.1. Cookies are small files that the websites place on your
                computer as you browse the web. Like many websites, we use
                cookies to discover how people are using our Platforms and to
                make them work better.
              </p>

              <p>
                14.1.2. A pixel is a small amount of code on a web page or in an
                email notification. As many other websites do, we use pixels to
                learn whether you have interacted with certain web or email
                content. This helps us measure and improve our Platforms and
                personalize your experience on our Platforms.
              </p>

              <p>
                14.1.3. Local storage is an industry-standard technology that
                allows a website or application to store information locally on
                your computer or mobile device. We use local storage to
                customize what we show you based on your past interactions with
                our Platforms.
              </p>

              <p>14.2. Why do we use these technologies?</p>

              <p>
                14.2.1. We may use these technologies to show you relevant
                content, improve your experience and help protect us and our
                users. We may use these to provide you with services on our
                Platforms, t hat are easier and faster to use, and enable you to
                easily navigate our Platforms and use its features. We may use
                these to retain authentication information in order to provide
                certain services to you, to retain your language preference and
                to provide mapping and location-based services which require
                your location. We may use these technologies to store
                information about how you use our Platforms, for instance, what
                pages you visit most often, and if visiting some pages gives you
                error messages. We may use these technologies to collect
                information on the total number of visitors to our Platforms on
                an ongoing basis. We may, along with our advertising partners,
                use these technologies to deliver, understand and improve
                advertisements that you see.
              </p>

              <p>
                14.2.2. We cannot identify you personally from the information
                these cookies collect. Only for functionality purposes,
                personally identifiable information that you disclose like your
                username and profile picture may be collected. We ensure
                complete transparency with you about what information is
                collected, how it is going to be used and with whom it is
                shared.
              </p>

              <p>14.3. What types of cookies do we use?</p>

              <p>
                14.3.1. Two types of cookies may be used on our Platforms-
                “session cookies” and “persistent cookies”. Session cookies are
                temporary cookies that remain on your device until you leave our
                Platforms. A persistent cookie remains on your device for much
                longer or until you manually delete it (how long the cookie
                remains on your device will depend on the duration or “lifetime”
                of the specific cookie and your app settings).
              </p>

              <p>
                14.3.2. Some of the pages you visit may also collect information
                using pixel tags (also called clear gifs) that may be shared
                with third parties which directly support our promotional
                activities and Platforms development. For example, usage
                information about visitors of our Platforms may be shared with
                our third-party advertising agency to better target internet
                banner advertisements on Platforms. The information is not,
                however, personally identifiable, although it could be linked to
                your personal information.
              </p>

              <p>14.4. Cookies used on the Platforms</p>
              <table border="1" class="privacy-table">
                <tr>
                  <th>Type of Cookie</th>
                  <th>What do they do?</th>
                  <th>
                    Do these cookies collect my personal data / identify me?
                  </th>
                </tr>
                <tr>
                  <td>Necessary</td>
                  <td>
                    {" "}
                    These cookies are essential to make our Platforms work
                    correctly and to enable you to use some of its features,
                    like authenticate log-in, secure our Platforms and your
                    information, and prevent fraudulent, criminal or other
                    suspect activities. Without these cookies, our Platforms
                    will not be able to remember your previous actions and
                    therefore will not be able to enable you to navigate back to
                    a page in the same session.
                  </td>
                  <td>These cookies do not identify you as an individual.</td>
                </tr>
                <tr>
                  <td>Performance</td>
                  <td>
                    These cookies enable us to analyse how our Platforms are
                    used that helps us to continually improve its performance.
                    These cookies help us understand how visitors interact with
                    our Platforms by providing information about the areas
                    visited, the time spent on our Platforms, and about any
                    issues encountered, such as error messages.
                  </td>
                  <td>
                    These cookies do not identify you as an individual. All data
                    is collected and aggregated anonymously.
                  </td>
                </tr>
                <tr>
                  <td>Functionality</td>
                  <td>
                    {" "}
                    These cookies help the Platforms remember the choices you
                    make (such as your language preference, the settings you
                    have applied), store accessibility options, show when you
                    are logged in, and tailor our Platforms for you. This
                    ensures that the Platforms provide you with services that
                    you have asked for. If you do not accept these cookies, it
                    may affect the performance and functionality of the
                    Platforms and may restrict access to content on it.
                  </td>
                  <td>
                    The information these cookies collect may include personally
                    identifiable information that you have disclosed, such as
                    your username or profile picture. We will always be
                    transparent with you about what information we collect, what
                    we do with it and with whom we share it.
                  </td>
                </tr>
                <tr>
                  <td>Targeting / advertising</td>
                  <td>
                    These cookies are used to deliver content that is more
                    relevant to you and your interests. They may be used to
                    deliver targeted advertising or to limit the number of times
                    you see an advertisement. They also help us measure the
                    effectiveness of advertising campaigns. We may use these
                    cookies to remember pages or websites you have visited and
                    we may share this information with other parties, including
                    advertisers and our agencies.
                  </td>
                  <td>
                    Most types of these cookies track consumers via their IP
                    address so they may collect some personal identifiable
                    information.
                  </td>
                </tr>
              </table>
              <div class="page-box">
                <p>14.5. Where are these technologies used?</p>
                <p>
                  We use these technologies on our own Platforms and on other
                  websites that may have integrated our services. This includes
                  our advertising and Platforms partners. Third parties may also
                  use these technologies, for example, when you interact with
                  their content from within Platforms, like when you click a
                  link or stream media on our Platforms from a third-party
                  service, and to help with the delivery of advertisements that
                  may be shown on and off our Platforms.
                </p>
                <p>14.6. Do we use Third Party Cookies?</p>
                <p>
                  14.6.1. We use a number of suppliers that may also set cookies
                  on your device on our behalf when you visit our Platforms, to
                  allow such third parties to deliver the services that they are
                  providing.
                </p>
                <p>
                  14.6.2. When you visit our Platforms, you may receive cookies
                  from third party websites or domains. We endeavour to identify
                  these cookies before they are used so that you can decide
                  whether or not you wish to accept them. More information about
                  these cookies may be available on the relevant third party’s
                  website.
                </p>
                <p>14.7. How can I control Cookies?</p>
                <p>
                  14.7.1. Most internet browsers are initially set up to
                  automatically accept cookies. You can change the settings to
                  block cookies or to alert you when cookies are being sent to
                  your device. There are a number of ways to manage cookies.
                  Please refer to our Platforms instructions or help screen to
                  learn more about how to adjust or modify your app settings.
                </p>
                <p>
                  14.7.2. If you disable the cookies that we use, this may
                  impact your experience while on the Platforms, for example you
                  may not be able to visit certain areas of our Platforms or you
                  may not receive personalized information when you visit our
                  Platforms.
                </p>
                <p>
                  14.7.3. If you use different devices to view and access the
                  Platforms (e.g., your computer, smartphone, tablet etc.) you
                  will need to ensure that each browser on each device is
                  adjusted to suit your cookie preferences.
                </p>
                <p>14.8. Changes to this Cookie Policy</p>
                <p>
                  14.8.1. We will occasionally update this Cookie Policy to
                  reflect changes on our Platforms and services. If we make any
                  material changes in the way we collect, use, or share
                  information held in cookies, we will post these changes to
                  this Cookie Policy and revise the “Last Updated” date at the
                  top of the Cookie Policy.
                </p>
                <p>
                  14.8.2. Cookies that have been set in the past, if you have
                  disabled one or more cookies, we may still use information
                  collected from cookies prior to your disabled preference being
                  set. However, we will stop using the disabled cookie to
                  collect any further information.
                </p>
              </div>
              <h6>15.Confidentiality and Secure Therapy Sessions</h6>
              <div class="page-box">
                <p>
                  15.1 We recognize that seeking therapy, especially for
                  loneliness, is a deeply personal decision. Our platform
                  prioritizes user confidentiality, ensuring that all therapy
                  sessions, chat interactions, and progress tracking remain
                  private and secure. We employ advanced encryption and security
                  measures to safeguard your personal and emotional data.
                </p>
              </div>
              <h6>16.Anonymous Support Options</h6>
              <div class="page-box">
                <p>
                  16.1 Understanding that some users may prefer a more discreet
                  approach to therapy, our app offers anonymous support groups,
                  guided mindfulness exercises, and community-driven
                  discussions. Users can engage in these resources without
                  revealing their identity, ensuring a judgment-free and
                  supportive environment.
                </p>
              </div>
              <h6>17.GRIEVANCE OFFICER</h6>
              <div class="page-box">
                <p>
                  17.1. In accordance with the Rules, the name and contact
                  details of our Grievance Officer are provided below wherein a
                  complaint can be filed with us:
                </p>
                <p>
                  17.2. The Grievance Officer shall acknowledge the complaint
                  within 3 (Three) business days and dispose of such complaint
                  within a period of 30 (Thirty) days from the date of its
                  receipt.
                </p>
              </div>

              <h6>18. Jurisdiction</h6>
                 
              <div class="page-box">
                <p>
                  If you choose to visit the website, your visit and any dispute over privacy are subject to this Policy and the
                  website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by
                  the laws of India.
                </p>
              </div>
            </div>
          </p>
        </div>
      </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>