<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="../public/styles/main.css">  -->

    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="/styles/refundPolicy.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Refund Policy</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="Refundpolicy">
        <div class="header">
          <h1>Refund & Cancellation</h1>
          <p>Last updated: November 23, 2024</p>
          <hr />
          <p>
            
            Thank you for using Premika. <br />
          </p>

          <p>
            If for any reason, you are not completely satisfied with a purchase,
            we invite you to review our policy on refunds and returns. <br />
          </p>

          <p>
            The following terms are applicable for any products that you’ve
            purchased from us. <br />
          </p>

          <p>
            Interpretation and Definitions <br />
          </p>

          <p>
            Interpretation <br />
          </p>

          <p>
            The words in which the initial letter is capitalised have meanings
            defined under the following conditions. The following definitions
            shall have the same meaning regardless of whether they appear in
            singular or in the plural. <br />
          </p>

          <p>
            Definitions <br />
          </p>
          <p>
            
            For the purposes of this Return and Refund Policy: <br />
          </p>

          <p>
            These terms of use apply to your use of the website of Premika
            (https://premikalove.com/ – hereafter the “Website”) and Premika mobile
            application (Android application – hereafter the “App”), provided by
            Alnicoo Tech Private Limited (hereafter “we” or “us” or “our” or
            “Premika”). Please go through them carefully. If you object to
            anything in the terms of use or our privacy policy, please do not
            use the website or the app or any other service we offer. <br />
          </p>
          <h4>
            Your Order Cancellation Rights <br />
          </h4>
          <br />

          <p>
            
            Since Premika does not sell physical goods there is no cancellation or
            return. Premika users can make a payment to purchase digital goods
            which can be used for soliciting a connection with other Premika
            users. Digital goods include Messages and coins, diamonds etc. New
            digital goods may be introduced and older digital goods may be
            modified or removed from time to time. Digital goods obtained
            through referrals, will expire within 12 months. <br />
          </p>

          <p>
            
            When you make an in-app purchase, you will be prompted to enter
            details for your account with your Software Store (“your IAP
            Account”), and your IAP Account will be charged for the in-app
            purchase in accordance with the terms disclosed to you at the time
            of purchase as well as the general terms for in-app purchases that
            apply to your IAP Account. Some Software Stores may charge you a
            sales tax, depending on where you live. If you purchase an
            auto-recurring periodic subscription through an in-app purchase,
            your IAP Account will continue to be billed for the subscription
            until you cancel. After your initial subscription commitment period,
            and again after any subsequent subscription period, your
            subscription will automatically continue for an additional
            equivalent period, at the price you agreed to when subscribing. If
            you do not wish your subscription to renew automatically, or if you
            want to change or terminate your subscription, you will need to log
            in to your IAP account and follow instructions to cancel your
            subscription, even if you have otherwise deleted your account with
            us or if you have deleted the Premika application from your device.
            Deleting your account on Premika or deleting the Premika application
            from your device does not cancel your subscription; Premika will
            retain all funds charged to your IAP Account until you cancel your
            subscription through your IAP Account. <br />
          </p>

          <p>
            In general, payments once made, are not refunded under any
            circumstances. In other words, you do not have the option of
            cancelling or getting a refund for any payment. It follows that you
            will not be getting a refund for any payment when your membership is
            terminated.
          </p>

          <p>
            Any payment-related queries regarding payments made from iOS devices
            using your Apple ID must be sent to Apple and not to Premika. To
            request a refund, please visit https://getsupport.apple.com. If you
            made the payment using your Google Play Store, please contact the
            Premika customer support by writing to support@alnicotech.com with
            your order details and invoice from the Google Play Store. If you
            made a payment through the Website or through any other payment
            gateway, please contact the Premika customer support by writing to
            support@alnicotech.com with your order details and invoice. <br />
          </p>
          <h4>
            Contact Us <br />
          </h4>
          <p>
            
            If you have any questions about our Returns and Refunds Policy,
            please contact us: <br />
          </p>

          <p>
            Contact Details: <br />
            Email: support@alnicotech.com <br />
            Address: 7th Floor, S-11, UNIT NO. 1171, 1172, INNOV 8 SOLITAIRE CORPORATE PARK, SOLITAIRE CORPORATE PARK, Andheri East, Mumbai, 
            &Tab;Mumbai Suburban, Maharashtra 400093, INDIA <br />
            Wagle l.e Thane, <br />
            Maharashtra 400604 <br />
            India
          </p>
        </div>
      </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>