<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="../public/styles/main.css">  -->

    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="/styles/termsConditions.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Terms & Conditions</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
  <div class="term-main">
      <div class="Term">
        <div class="header">
          <h1>Term Of Service </h1>
          <p>Last updated: November 22, 2024</p>
          <hr />
          <p>
            These terms and conditions (“Terms”) govern the Services (as defined
            below) rendered to You (as defined below) by Alnico Tech Private
            Limited ("Premika"). By accessing this website ("Premika Website")
            and/or Premika's mobile application (“Premika App”) (“Premika
            Website” and “Premika App” shall be collectively referred to as
            “Platforms” as the context may require), You signify that You have
            read, understood, and agree to be bound by these Terms. Your
            continued use of the Platforms shall be construed as Your acceptance
            of the Terms, as revised from time to time. Please check these Terms
            periodically for changes as all modifications are effective
            immediately upon publication on the Platforms. If You do not agree
            with these Terms, please do not access the Platforms.
            <br />
          </p>
          <p>
            For the purposes of these Terms, “We”, “Our”, “Us” and “Company”
            shall mean Premika, and “You”, “Your”, “Yourself” and “User” shall
            mean any natural or legal person who has agreed to avail the
            Services as a registered user.
            <br />
          </p>
          <h3>
            • SCOPE OF SERVICES <br />
          </h3>
          <p>
            Premika is engaged in the business of providing a social platform
            with the purpose of connecting people around the globe. Premika aims
            to make available expert knowledge accessible to its Users by
            offering on-demand consultations (“Services”).
            <br />
          </p>
          <h3>
            • Professional Therapy for Loneliness and Emotional Well-Being
          </h3>
          <p>
            Our app is a dedicated therapy platform designed to support
            individuals struggling with loneliness, emotional distress, and
            mental well-being. Through interactive support features, we provide
            a safe space for users to share their feelings, gain insights, and
            work towards personal growth. While our therapy sessions and
            resources are effective in fostering emotional connection and
            resilience, our services do not replace medical treatment for severe
            mental health conditions. If you are experiencing a crisis or
            require urgent mental health support, we strongly encourage you to
            seek immediate help from a licensed professional or emergency
            services in your area.
          </p>
          <h3>• User Commitment to Therapy</h3>
          <p>
            Therapy is a journey, and its effectiveness depends on active
            participation. By using our platform, you acknowledge that results
            may vary, and your progress depends on personal engagement with
            therapists, exercises, and community interactions.
          </p>
          <h3>• Eligibility</h3>
          <br />
          <p>
            By agreeing to these Terms, You hereby confirm that:
            <br />
          </p>
          <p>
            <ol>
              <p>
                <li>
                  You have the legal capacity and authority to enter into this
                  contract in compliance with these Terms and all applicable
                  local, state, national, and international laws, rules and
                  regulations and such other documents, if required to be
                  executed between You and Premika;
                </li>
              </p>
              <p>
                <li>
                  You have not been previously terminated or suspended from
                  using these Terms by Premika for reasons attributable to You,
                  as per these Terms;
                </li>
              </p>
              <p>
                <li>
                  You have not been convicted or are subject to any court order
                  relating to assault, violence, sexual misconduct or harassment
                  in any form.
                </li>
              </p>
            </ol>
          </p>
          <h3>• Registration</h3>
          <p>
            <ol>
              <p>
                <li>
                  To avail the Services You shall be required to register
                  Yourself on the Premika App, which can be downloaded from this
                  website, Google Play Store or the Apple App Store, by
                  authenticating Yourself through Your phone number, through
                  WhatsApp or through True Caller After completion of the
                  registration process, You will be required to create an
                  account (“<b>Account</b>”) wherein You are required to enter
                  Your name as a pre-requisite to complete the Account creation
                  process.
                </li>
              </p>
              <p>
                <li>
                  Upon the completion of the registration process and creation
                  of Your Account, You will be able to access the Services and
                  the functionalities of the Premika App, that Premika may
                  update from time to time, at its sole discretion. However, it
                  is hereby clarified that Premika shall not be responsible to
                  the authenticity of the credentials used by You for the
                  registration process.
                </li>
              </p>
              <p>
                <li>
                  Upon creation of Your Account, You shall have an option to
                  share information about Yourself (including but not limited to
                  Your name, gender, date of birth, height, relationship status,
                  religion, ethnicity and city of residence). However, this
                  Information is not mandatory to register or create an Account.
                  The information shared by You shall be visible to other users
                  of the Premika App and therefore, You shall share such
                  information at your own discretion. We shall not be liable in
                  any manner with respect to such information shared by You on
                  the Premika App (“<b>User Information</b>”).
                </li>
              </p>
              <p>
                <li>
                  You are solely responsible for the activities carried out
                  under Your Account and agree to notify us immediately if You
                  suspect or become aware of any unauthorized use of Your
                  Account. You also acknowledge that Your Account and User
                  Information is personal to You and agree not to allow any
                  unauthorized person to access the Service or any portion of it
                  using Your User Information. Premika shall not be liable for
                  any loss that You may incur because of someone else using Your
                  User Information and Account, either with or without Your
                  knowledge.
                </li>
              </p>
            </ol>
          </p>
          <h3>• PROHIBITED USE</h3>
          <p>
            <ol>
              <p>
                <li>
                  You agree not to engage in any unacceptable use of the
                  Service, which includes, without limitation, use of the
                  Service to: (a) disseminate or transmit material that, to a
                  reasonable person may be abusive, obscene, pornographic,
                  defamatory, harassing, grossly offensive, vulgar, threatening
                  or malicious; (b) disseminate, store or transmit files,
                  graphics or other material that actually or potentially
                  infringes the copyright, trademark, patent, trade secret or
                  other intellectual property right of any person or entity; (c)
                  create a false identity or to otherwise attempt to mislead any
                  person as to the identity or origin of any content or by
                  providing any misleading or false information in any manner;
                  (d) interfere, disrupt or attempt to gain unauthorized access
                  to other accounts on the Platforms; (e) disseminate, store or
                  transmit viruses, trojan horses or any other malicious code or
                  program; (f) engage in any other activity deemed by Premika to
                  be \ in conflict with the spirit or intent of these Terms; or
                  (f) violate any applicable law.
                </li>
              </p>
              <p>
                <li>
                  In addition to the foregoing, You are also prohibited from
                  engaging in any abusive, obscene, profane, offensive, sexist,
                  threatening, harassing, racially offensive, or any other
                  inappropriate behavior with Our customer care team or any
                  other employee/agent/partner/expert of Premika.
                </li>
              </p>
            </ol>
          </p>
          <h3>• SAFETY</h3>
          <p>
            We currently do not conduct any criminal and/or other formal
            background checks of Our users and also do not attempt to verify the
            statements of Our users. You are solely responsible for taking all
            appropriate safety precautions in connection with the use of the
            Platforms and contacting other users. You accept that there are
            risks in interacting online or offline with other users, including
            but not limited to any form of interaction with other users and
            sharing information with such persons. We do not guarantee or verify
            the accuracy of information provided to You by other users. Any
            reliance on the provided information is at your own risk. All
            content and Services on the Platforms are provided on an “as is” and
            “as available” basis (please refer to Clause 9 of these Terms for
            further details). Any decisions or actions taken by You on the basis
            of the information provided on or via the Platforms are at Your sole
            discretion and risk and Premika shall not be responsible for any
            such decisions or the consequences arising from any such decisions
            that You may take.
            <br />
          </p>
          <h3>• REPRESENTATIONS, WARRANTIES AND COVENANTS</h3>
          <p>
            By consenting to these Terms and availing the Services, You hereby
            represent, warrant and undertake as follows:
          </p>
          <p>
            <ol>
              <p>
                <li>
                  You have the legal capacity and authority to avail the
                  Services and provide Your consent to these Terms;
                </li>
              </p>
              <p>
                <li>
                  The information furnished by You to Premika for creation of
                  the Account and for availing the Services does not (a) contain
                  false or misleading information, (b) infringe any intellectual
                  property, privacy, publicity, statutory, contractual or other
                  rights of any third party, (c) contain any libelous,
                  defamatory, obscene, offensive, threatening or otherwise
                  harassing or hateful content, or (d) contain computer viruses,
                  worms or other harmful files;
                </li>
              </p>
              <p>
                <li>
                  You shall not access or use the Services or Platforms to
                  engage in any illegal, fraudulent, or other illicit activity;
                </li>
              </p>
              <p>
                <li>
                  Upon request by Premika, You shall promptly furnish Premika
                  with any documentation or other form of substantiation
                  necessary to verify Your compliance with these Terms.
                </li>
              </p>
            </ol>
          </p>
          <h3>• PROPREITARY RIGHTS</h3>
          <p>
            <ol>
              <p>
                <li>
                  Subject to Clause 7.4, all of the content on the Platforms,
                  including, without limitation, all of the images,
                  illustrations, graphics, audio clips, video clips or text,
                  reports generated, patents, copyrights, trademarks, service
                  marks, trade names, written posts, comments, software and
                  scripts and all the intellectual property related thereto
                  (“Company Property”) is the sole and exclusive property of
                  Premika.
                </li>
              </p>
              <p>
                <li>
                  Except as explicitly provided herein, nothing in these Terms
                  shall be deemed to create any transfer or assignment for any
                  such intellectual property, and You agree not to sell,
                  license, rent, modify, distribute, copy, reproduce, transmit,
                  publicly display, publicly perform, publish, adapt, edit or
                  create derivative works from any Company Property. Use of the
                  Company Property for any purpose not expressly permitted by
                  these Terms is strictly prohibited.
                </li>
              </p>
              <p>
                <li>
                  Premika hereby grants You a non-exclusive, non-transferable,
                  revocable license to use the Premika App for Your personal use
                  only. You shall not (i) modify, disassemble, decompile or
                  reverse engineer the Premika App; (ii) rent, lease, loan,
                  resell, sublicense, distribute or otherwise transfer the
                  Premika App to any third party for any reason whatsoever;
                  (iii) make any copies of t he Premika App; (iv) remove,
                  circumvent, disable, damage or otherwise interfere with
                  security-related features of the Premika App, features that
                  prevent or restrict use or copying of any content accessible
                  through the Premika App, or features that enforce limitations
                  on use of the Premika App; or (v) delete t he copyright and
                  other proprietary rights notices on the Premika App.
                </li>
              </p>
              <p>
                <li>
                  All images, audio clips and any and all forms of digital
                  content posted by other Users are proprietary to such Users
                  with applicable proprietary rights therein. You may not post,
                  distribute, or reproduce in any way any copyrighted material,
                  trademarks, or other proprietary information without obtaining
                  the prior written consent of the owner of such proprietary
                  rights. You understand that You shall be solely responsible
                  for any infringement claims that may arise as a result of you
                  posting, distributing or reproducing in any way any
                  copyrighted material, trademarks, or other proprietary
                  information without obtaining the prior written consent of the
                  owner of such proprietary rights and shall indemnify Premika
                  for any direct or indirect loss that may arise in this regard.
                  Without limiting the foregoing, if You believe that Your work
                  has been copied and posted on the Platforms in a way that
                  constitutes any infringement of Your intellectual property
                  rights, please provide us at support@alnicotech.com with the
                  following information:
                </li>
              </p>
              <p>
                <li>
                  An electronic or physical signature of the person authorized
                  to act on behalf of the owner of the copyright interest;
                </li>
              </p>
              <p>
                <li>
                  A description of the intellectual property that You claim has
                  been infringed;
                </li>
              </p>
              <p>
                <li>
                  A description of where the material that You claim is
                  infringing is located on the Premika App;
                </li>
              </p>
              <p>
                <li>
                  Your full name, address, telephone number, and email address;
                </li>
              </p>
              <p>
                <li>
                  A written statement by You that the use of Your intellectual
                  property has not been authorized by You;
                </li>
              </p>
              <p>
                <li>
                  A statement by You that the above information in Your notice
                  is accurate and that you are the owner of the intellectual
                  property or authorized to act on behalf of such owner.
                </li>
              </p>
            </ol>
          </p>
          <h3>• THIRD-PARTY LINKS AND SERVICES</h3>
          <p>
            <ol>
              <p>
                <li>
                  A portion of the Services rendered by Premika to You may be
                  sub-contracted to third-party service providers, including but
                  not limited to the experts/consultants that You shall be
                  communicating with for the purposes of availing the Services
                  under these Terms (“ <b>Third Party Service Providers</b>”).
                  Premika shall not be liable for the acts and omissions,
                  including but not limited to the advices, discussions or
                  counselling given by any Third Party Service Providers in any
                  manner whatsoever. Premika disclaims any and all liability,
                  including any express or implied warranties, whether oral or
                  written, for such third-party services. You acknowledge that
                  no representation has been made by Us as to the fitness of the
                  third-party services for Your intended purpose. It is hereby
                  clarified that the relationship of the Third Party Service
                  Providers and Premika is on a principal to principal basis and
                  nothing in these Terms shall be deemed to be construed as
                  creating any other relationship, including but not limited to
                  that of principal-agent, employer-employee or partnership.
                </li>
              </p>
              <p>
                <li>
                  In addition to the foregoing, the Service may contain links to
                  third-party materials that s are not owned or controlled by
                  Premika. Premika does not endorse or assume any responsibility
                  for any such third-party sites, information, materials,
                  products, or services. If You access a third-party website or
                  service from the Service or share Your information on or
                  through any third-party website or service, You do so at Your
                  own risk, and You understand that these Terms and Premika’s
                  Privacy Policy do not apply to Your use of such sites. You
                  expressly relieve Premika from any and all liability arising
                  from Your use of any third-party website, service, or content,
                  including without limitation Your information submitted by
                  other Users.
                </li>
              </p>
            </ol>
          </p>
          <h3>• DISCLAIMER</h3>
          <p>
            <ol>
              <p>
                <li>
                  THE SERVICES BEING OFFERED BY Premika ARE ON AN ‘AS IS’ AND
                  ‘AS AVAILABLE’ BASIS. Premika MAKES NO REPRESENTATIONS OR
                  WARRANTIES OF ANY KIND WITH RESPECT TO THE SERVICES, WHETHER
                  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, IMPLIED
                  WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                  PURPOSE AND NON-INFRINGEMENT. WITHOUT LIMITING THE GENERALITY
                  OF THE FOREGOING, Premika DISCLAIMS ANY KNOWLEDGE OF, AND DOES
                  NOT GUARANTEE: (A) THE ACCURACY, RELIABILITY, OR CORRECTNESS
                  OF ANY DATA OR CONTENT PROVIDED THROUGH THE SERVICES; (B) THAT
                  THE SERVICES WILL MEET YOUR SPECIFIC REQUIREMENTS; (C) THAT
                  THE SERVICES WILL BE AVAILABLE AT ANY PARTICULAR TIME OR WILL
                  FUNCTION IN AN UNINTERRUPTED MANNER OR BE SECURE; OR (D) THAT
                  THE SERVICES ARE FREE OF VIRUSES OR OTHER HARMFUL CODE. NO
                  ORAL OR WRITTEN ADVICE OR INFORMATION GIVEN BY Premika, ITS
                  EMPLOYEES, EXPERTS, LICENSORS OR AGENTS WILL CREATE A
                  WARRANTY; NOR MAY THE SERVICE RECIPIENT RELY ON ANY SUCH
                  INFORMATION OR ADVICE.
                </li>
              </p>
              <p>
                <li>
                  Premika DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME
                  RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR
                  OFFERED BY ANY THIRD PARTY INLCUDING THE THIRD PARTY SERVICE
                  PROVIDERS THROUGH THE SERVICE OR ANY HYPERLINKED WEBSITE OR
                  SERVICE, AND Premika WILL NOT BE A PARTY TO OR IN ANY WAY
                  MONITOR ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS
                  OF PRODUCTS OR SERVICES.
                </li>
              </p>
            </ol>
          </p>
          <h3>• LIMITATION OF LIABILITY</h3>
          <p>
            <ul>
              <p>
                <li>
                  TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT
                  SHALL Premika, ITS AGENTS, DIRECTORS, EMPLOYEES, LICENSORS BE
                  LIABLE FOR ANY KIND OF INDIRECT, CONSEQUENTIAL, PUNITIVE,
                  INCIDENTAL, PUNITIVE OR EXEMPLARY DAMAGES ARISING OUT OF OR
                  RELATING TO THE SERVICES. IN NO EVENT SHALL Premika’S
                  CUMULATIVE LIABILITY, WHETHER IN CONTRACT, TORT, BREACH OF
                  STATUTORY DUTY OR OTHERWISE, ARISING OUT OF OR IN CONNECTION
                  WITH THESE TERMS EXCEED A SUM OF INR 5000 (INDIAN RUPEES FIVE
                  THOUSAND ONLY).
                </li>
              </p>
              <p>
                <li>
                  THIS LIMITATION OF LIABILITY SECTION APPLIES WHETHER THE
                  ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE,
                  BREACH OF STATUTORY DUTY, OR ANY OTHER BASIS, EVEN IF Premika
                  HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
                </li>
              </p>
            </ul>
          </p>
          <h3>• INDEMNITY</h3>
          <p>
            You agree to defend, indemnify and hold harmless Premika, its
            agents, licensors, employees, contractors, agents, officers and
            directors, from and against any and all claims, damages,
            obligations, losses, liabilities, costs or debt, and expenses
            (including but not limited to attorney’s fees) arising from or in
            connection with: (i) Your violation of these Terms including the
            warranties set out in Clause 6; (ii) Your violation of any
            third-party right, including without limitation any right of privacy
            or intellectual property rights; (iii) Your violation of any
            applicable law, rule or regulation; (iv) Your negligent or willful
            misconduct; or (v) Your access to and usage of third party services
            rendered by any Third Party Service Provider, in connection with the
            Services under these Terms.
          </p>
          <h3>• GOVERNING LAW AND JURISDICTION</h3>
          <p>
            These Terms shall be governed by and construed according to the laws
            of India. The courts in Maharashtra shall have exclusive
            jurisdiction over all matters relating to or arising out of these
            Terms.
          </p>
          <h3>• GENERAL PROVISIONS</h3>
          <p>
            <ol>
              <p>
                <li>
                  
                  <b>Consent to be contacted:</b> You consent to be contacted by
                  Premika and/or its representatives for telemarketing
                  communications, at any telephone number, or physical or
                  electronic address You provide or at which you may be reached.
                  You may revoke Your consent to the foregoing by contacting Us
                  at support@alnicotech.com.
                </li>
              </p>
              <p>
                <li>
                  <b>Assignment:</b> These Terms, and any rights and licenses
                  granted hereunder may be assigned by Premika without
                  restriction, but shall not be transferred or assigned in any
                  manner by You. Any attempted transfer or assignment in
                  violation hereof shall be null and void.
                </li>
              </p>
              <p>
                <li>
                  
                  <b>Termination:</b> (a) Premika may, without prior notice,
                  change the Service; stop providing the Service or features of
                  the Service, to You; or create usage limits for the Service.
                  Premika may permanently terminate or suspend (as set out in
                  Clause 13.4) access to the Services without notice and
                  liability for any reason, including if, in Premika’s sole
                  determination, You violate any provision of these Terms; (b)
                  You can delete your Account, which will result in a
                  termination of these Terms. However, under any circumstances,
                  purchases made on Premika will not be refundable upon deletion
                  of Your Account and consequent termination of these Terms for
                  any reason whatsoever. Furthermore, You cannot re-activate
                  Your Account upon deletion and will be required to re-register
                  and re-create Your Account with Premika.
                </li>
              </p>
              <p>
                <li>
                  <b>Suspension:</b> Notwithstanding anything to the contrary in
                  these Terms and without limiting any other right Premika may
                  have under these Terms, Premika may temporarily suspend Your
                  access to any portion or all of the Service if Premika
                  reasonably determines that (a) there is a threat or attack on
                  any aspect of the Service or any server, system, IP address or
                  network associated with a Service; (b) You have violated these
                  Terms; (c) Your use of the Service disrupts or poses a
                  security risk to Premika, the Service or to any other user or
                  associate/partner of Premika; (d) You are using the Service
                  for fraudulent or illegal activities; or (e) Premika’s
                  provision of the Service to You is prohibited by applicable
                  law; (f) any associate/partner of Premika has suspended or
                  terminated Premika’s access to, or use of any third-party
                  services or products required to enable You to access the
                  Service; (g) any other reason in the sole discretion of
                  Premika. Premika shall not provide written notice of any
                  Service suspension to the User, unless required by law.
                </li>
              </p>
              <p>
                <li>
                  <b>Force Majeure:</b>In no event will Premika be liable to the
                  User, or be deemed to have breached these Terms, for any
                  failure or delay in performing its obligations under these
                  Terms, if and to the extent such failure or delay is caused by
                  any circumstances beyond Premika’s reasonable control,
                  including acts of God, flood, fire, earthquake, explosion,
                  war, terrorism, invasion, riot or other civil unrest, strikes,
                  labor stoppages or slowdowns or other industrial disturbances,
                  or passage of law or any action taken by a governmental or
                  public authority, including imposing an embargo (“Force
                  Majeure Events”). Furthermore, in case any Force Majeure Event
                  continues for more than a period of 30 (Thirty) days’, Premika
                  shall have the right to either terminate or suspend these
                  Terms, without any refund, in its sole discretion.
                </li>
              </p>
              <p>
                <li>
                  <b>Entire Agreement:</b> These Terms, together with any
                  amendments and any additional agreements You may enter into
                  with Premika in connection with the Service, shall constitute
                  the entire agreement between You and Premika concerning the
                  Service. If any provision of these Terms is deemed invalid by
                  a court of competent jurisdiction, the invalidity of such
                  provision shall not affect the validity of the remaining
                  provisions of these Terms, which shall remain in full force
                  and effect.
                </li>
              </p>
              <p>
                <li>
                  <b>No Waiver:</b> No waiver of any term of these Terms shall
                  be deemed a further or continuing waiver of such term or any
                  other term, and Premika’s failure to assert any right or
                  provision under these Terms shall not constitute a waiver of
                  such right or provision.
                </li>
              </p>
              <p>
                <li>
                  
                  <b>Survival:</b> Any provision that is reasonably necessary to
                  accomplish or enforce the purpose of these Terms shall survive
                  and remain in effect in accordance with its terms upon the
                  termination of these Terms.
                </li>
              </p>
              <p>
                <li>
                  
                  <b>Contact.</b> If You have any questions or queries regarding
                  these Terms or the Services, please contact Us at
                  support@alnicotech.com.`
                </li>
              </p>
            </ol>
          </p>
        </div>
      </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>